<div class="header">
  <div class="badge"></div>
  <h1 class="title">GISMDS</h1>
</div>
<div class="landing-container">
  <div class="image-container">
    <img src="../../../assets/images/landing-page/hero.png" alt="GSMAP" />
  </div>
  <div class="text-container">
    <h1><span class="highlight">Navigating Risk:</span> GIS-Powered <span class="highlight">Flood</span> and <span class="highlight">Landslide</span> Mapping for <span class="highlight">Carigara, Leyte</span></h1>
    <a [routerLink]="['/dashboard/gismds']" class="cta-button">Enter</a>
  </div>
</div>
