<div
  class="w-52 xl:w-64 scrollbar-thumb-rounded scrollbar-track-rounded hidden h-full flex-col justify-between overflow-auto bg-background pt-3 transition-all duration-300 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-card lg:flex">
  <div class="px-4">
    <p class="text-foreground text-xs">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem porro corrupti voluptatum facere libero similique totam quod nemo, soluta eveniet obcaecati a architecto, iusto ullam quaerat fugit dignissimos repudiandae sed!
    </p>
  </div>
</div>

