<div class="flex h-screen w-full overflow-hidden">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div class="flex grow flex-col content-start overflow-hidden bg-card">


    <!-- Main content -->
    <!-- <div
      id="main-content"
      class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted"
    > -->
    <div
      id="main-content"
      class="scrollbar-none"
    >
      <div class="map-container">
        <div class="header">
          <!--<img src="assets/icons/heroicons/outline/CarigaraSeal.svg" alt="Logo" class="logo"/>-->
          <h3 class="m-2 text-center font-extrabold">MUNICIPALITY OF CARIGARA</h3>
        </div>


        <!-- Map Frame -->
        <div class="map-frame">
          <div id="map" style="height: 550px;"></div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
  </div>

  <!-- Sidebar Details -->
  <app-sidebar-details [disasterType]="disasterType" (rowClicked)="zoomToBarangay($event)"></app-sidebar-details>
</div>
